.container{
  background-color: #202326;
  display: flex;
  width: 100%;
  color: whitesmoke;
}
.navbar{
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items:center;
  justify-content:end;
  gap: 10px;
  background-color: #1a1f1e;
  min-height: 10vh;
}
.search{
  border-radius: 10px;
  border: none;
  height: 20px;
  padding-left: 10px;
}
.allBooks{
  text-align: center;
  gap: 10px;
  padding: 20px;
  width: 65%;
  min-height: 90vh;
  /* border: 1px solid red; */
}
.listContainer{
  text-align: center;
  padding: 20px;
  width: 35%;
  background-color: #333131;
  min-height: 90vh;
  /* border: 1px solid red; */
}
.card{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  height: 300px;
  padding: 20px; 
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border: 1px solid whitesmoke;
  cursor: pointer;
  transition: transform .3s;
}
.card:hover{
  transform: scale(1.07);
}
.bodyListContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
.bodyContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}
.delete{
  background-color: rgba(196, 4, 42, 0.856);
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: white;
  transition: all .3s;
}
.delete:hover{
  background-color: rgb(194, 57, 85);
}


/* media querys */
@media (max-width:1100px){
  .bodyContainer{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width:750px){
  .bodyContainer{
    grid-template-columns: repeat(2,1fr);
  }
  .bodyListContainer{
    grid-template-columns: 1fr;
  }
}
@media (max-width:550px){
  .container{
    flex-direction: column;
  }
  .allBooks{
    width: 100%;
  }
  .listContainer{
    width: 100%;
  }
  .bodyContainer{
    width: 100%;
    grid-template-columns: repeat(3,1fr);
  }
  .bodyListContainer{
    width: 100%;
    grid-template-columns: repeat(3,1fr)
  }
}
@media (max-width:400px){
  .bodyContainer{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
  }
  .bodyListContainer{
    width: 100%;
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:300px){
  .bodyContainer{
    width: 100%;
    grid-template-columns: 1fr;
  }
  .bodyListContainer{
    width: 100%;
    grid-template-columns: 1fr;
  }
}