.container{
  background-color: #202326;
  display: flex;
  width: 100%;
  color: whitesmoke;
}
.btn{
  width: 70px;
}
.btn-primary{
  color: whitesmoke;
  font-weight:800;
  background-color:#383838;
  border-radius:5px 5px;
  border: none;
  height: 30px;
  transition: transform .3s;
}
.btn-primary:hover{
  cursor: pointer;
  background-color:#49474777;
}
.selectStyles{
  color: white;
  width: 115px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #3656AA;
}
.selectStyles:hover{
  cursor: pointer;
  background-color:#3657aad7;
}
.navbar{
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items:center;
  justify-content:end;
  gap: 50px;
  background-color: #1a1f1e;
  min-height: 10vh;
  color: whitesmoke;
  font-family: sans-serif;
}
.selectFocus{
  outline: none;
}
.search{
  border-radius: 10px;
  border: none;
  height: 20px;
  padding-left: 10px;
}
.searchBar{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.allBooks{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 20px;
  width: 65%;
  min-height: 90vh;

  /* border: 1px solid red; */
}
.listContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 20px;
  width: 35%;
  background-color: #333131;
  min-height: 90vh;
  /* border: 1px solid red; */
}
.card{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  height: 300px;
  padding: 20px; 
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border: 1px solid whitesmoke;
  cursor: pointer;
  transition: transform .3s;
}
.card:hover{
  transform: translateY(-10px);
}
.bodyListContainer{
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill,minmax(min(100%,10rem),1fr));
}
.bodyContainer{
  width: 100%;
  display: grid;
  gap: 10px;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill,minmax(min(100%,10rem),1fr));
}
.delete{
  background-color: rgba(196, 4, 42, 0.856);
  width: 40px;
  height: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: white;
  transition: all .3s;
}
.delete:hover{
  background-color: rgb(194, 57, 85);
}
@media (max-width:550px){
  .container{
    flex-direction: column;
  }
  .allBooks{
    width: 100%;
  }
  .listContainer{
    width: 100%;
  }
  .navbar{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(min(100%,8rem),1fr));
    gap: 1rem;
  }
}

 